<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{announcement.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{announcement.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/announcements/add}" th:text="#{announcement.list.createNew}" class="btn btn-success ms-2" />
                </div>
            </div>
            <div th:if="${announcements.empty}" th:text="#{announcement.list.empty}" />
            <div th:if="${!announcements.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{announcement.id.label}" scope="col" />
                            <th th:text="#{announcement.title.label}" scope="col" />
                            <th th:text="#{announcement.price.label}" scope="col" />
                            <th th:text="#{announcement.address.label}" scope="col" />
                            <th th:text="#{announcement.bedrooms.label}" scope="col" />
                            <th th:text="#{announcement.bathrooms.label}" scope="col" />
                            <th th:text="#{announcement.squareFeet.label}" scope="col" />
                            <th th:text="#{announcement.property.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="announcement : ${announcements}">
                            <td th:text="${announcement.id}" />
                            <td th:text="${announcement.title}" />
                            <td th:text="${announcement.price}" />
                            <td th:text="${announcement.address}" />
                            <td th:text="${announcement.bedrooms}" />
                            <td th:text="${announcement.bathrooms}" />
                            <td th:text="${announcement.squareFeet}" />
                            <td th:text="${announcement.property}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/announcements/edit/{id}(id=${announcement.id})}" th:text="#{announcement.list.edit}" class="btn btn-sm btn-warning" />
                                    <form th:action="@{/announcements/delete/{id}(id=${announcement.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{announcement.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
