<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{typeOfProperty.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{typeOfProperty.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/typeOfProperties}" th:text="#{typeOfProperty.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('typeOfProperty')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='typeOfProperty', field='name')}" />
                <div th:replace="~{fragments/forms::inputRow(object='typeOfProperty', field='description')}" />
                <input type="submit" th:value="#{typeOfProperty.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
