<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{documentType.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{documentType.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/documentTypes/add}" th:text="#{documentType.list.createNew}" class="btn btn-success ms-2" />
                </div>
            </div>
            <div th:if="${documentTypes.empty}" th:text="#{documentType.list.empty}" />
            <div th:if="${!documentTypes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{documentType.id.label}" scope="col" />
                            <th th:text="#{documentType.name.label}" scope="col" />
                            <th th:text="#{documentType.abbreviation.label}" scope="col" />
                            <th th:text="#{documentType.description.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="documentType : ${documentTypes}">
                            <td th:text="${documentType.id}" />
                            <td th:text="${documentType.name}" />
                            <td th:text="${documentType.abbreviation}" />
                            <td th:text="${documentType.description}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/documentTypes/edit/{id}(id=${documentType.id})}" th:text="#{documentType.list.edit}" class="btn btn-sm btn-warning" />
                                    <form th:action="@{/documentTypes/delete/{id}(id=${documentType.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{documentType.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
