<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{furnitureInventory.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{furnitureInventory.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/furnitureInventories/add}" th:text="#{furnitureInventory.list.createNew}" class="btn btn-success ms-2" />
                </div>
            </div>
            <div th:if="${furnitureInventories.empty}" th:text="#{furnitureInventory.list.empty}" />
            <div th:if="${!furnitureInventories.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{furnitureInventory.id.label}" scope="col" />
                            <th th:text="#{furnitureInventory.furnitureType.label}" scope="col" />
                            <th th:text="#{furnitureInventory.furnitureName.label}" scope="col" />
                            <th th:text="#{furnitureInventory.quantity.label}" scope="col" />
                            <th th:text="#{furnitureInventory.condition.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="furnitureInventory : ${furnitureInventories}">
                            <td th:text="${furnitureInventory.id}" />
                            <td th:text="${furnitureInventory.furnitureType}" />
                            <td th:text="${furnitureInventory.furnitureName}" />
                            <td th:text="${furnitureInventory.quantity}" />
                            <td th:text="${furnitureInventory.condition}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/furnitureInventories/edit/{id}(id=${furnitureInventory.id})}" th:text="#{furnitureInventory.list.edit}" class="btn btn-sm btn-warning" />
                                    <form th:action="@{/furnitureInventories/delete/{id}(id=${furnitureInventory.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{furnitureInventory.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
