<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{contract.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{contract.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/contracts/add}" th:text="#{contract.list.createNew}" class="btn btn-success ms-2" />
                </div>
            </div>
            <div th:if="${contracts.empty}" th:text="#{contract.list.empty}" />
            <div th:if="${!contracts.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{contract.id.label}" scope="col" />
                            <th th:text="#{contract.startDate.label}" scope="col" />
                            <th th:text="#{contract.endDate.label}" scope="col" />
                            <th th:text="#{contract.rent.label}" scope="col" />
                            <th th:text="#{contract.deposit.label}" scope="col" />
                            <th th:text="#{contract.status.label}" scope="col" />
                            <th th:text="#{contract.creationDate.label}" scope="col" />
                            <th th:text="#{contract.modificationDate.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="contract : ${contracts}">
                            <td th:text="${contract.id}" />
                            <td th:text="${contract.startDate}" />
                            <td th:text="${contract.endDate}" />
                            <td th:text="${contract.rent}" />
                            <td th:text="${contract.deposit}" />
                            <td th:text="${contract.status}" />
                            <td th:text="${contract.creationDate}" />
                            <td th:text="${contract.modificationDate}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/contracts/edit/{id}(id=${contract.id})}" th:text="#{contract.list.edit}" class="btn btn-sm btn-warning" />
                                    <form th:action="@{/contracts/delete/{id}(id=${contract.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{contract.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
